/* Reset some default styles */
body,
ul,
li,
p {
	margin: 0;
	padding: 0;
}

body {
	margin: 0 !important;
	padding: 0;
	font-family: 'Lato', sans-serif;
	line-height: 1.6;
	font-size: 16px;
	min-height: 100vh;
	overflow-x: hidden;
	padding-bottom: 60px;

}

a {
	text-decoration: none;

}

.row {
	display: flex;
	flex-wrap: wrap;
}

.card {
	border: 1px solid transparent;
	border-radius: 10px;
	padding: 4px 22px;
	font-size: 1.1em;
	height: 20%;
	min-height: 212px;
	flex: 1 0 auto;
}

.cards-wrapper {
	margin-top: 2rem;
}

#logo {
	width: 10%;
	position: absolute;
	top: -24px;
	left: 20px;
	margin-right: 3px;
	z-index: 10;
}

.navbar-brand {
	margin-left: 3px;
}

nav li a {
	font-weight: 600;
	font-size: 18px;
}

li {
	list-style-type: none;
}

.footer {
	background-color: #15803d;
	color: white;
	padding: 20px 0;

}

.footer-nav {
	display: flex;
	justify-content: space-between;
}

.footer-list {
	display: flex;
	list-style-type: none;
	padding-left: 0;
}

.footer-list li {
	margin-right: 15px;
}

.footer-link {
	color: white;
	text-decoration: none;
}

.footer-link:hover {
	color: #ccc;
}

.light {
	font-weight: lighter;
}

.search_form {
	position: absolute;
	left: 38%;
	top: 16%;
	width: 30%;
}

#search_submit {
	position: absolute;
	top: 0;
	right: 0;
	background-color: #387B9A;
	height: 100%;
	color: white;
}

.footer {
	background-color: #f8f9fa;
	padding: 0 0;
	position: fixed;
	bottom: 0;
	width: 100%;
	margin-top: 20px;
	border-top: 20px solid #ffffff;
}

.footer-link {
	color: green;
	text-decoration: none;
}

.footer-list {
	list-style: none;
	padding-left: 0;
}

.footer-list li {
	margin-bottom: 10px;
}