#wallpaper {
	background-image: url('../images//banner.jpg');
	height: 100vh;
	background-repeat: no-repeat;
	background-size: cover;

	margin-top: -8rem;


}

#wallpaper::before {
	content: "";
	position: absolute;
	top: 5rem;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.7);

}

.wallpaper_text {
	color: white;
	position: absolute;
	top: 25%;
	text-align: center;
	line-height: 1.2rem;
	margin-left: 25%;
	/* font-size: 4em; */
	line-height: 6.8rem;
}

.call_to_action {
	background-color: #FF8B6A;
	color: white;
	font-size: 20px;
	margin-right: 0.8rem;

}

.call_to_action:hover {
	color: #FF8B6A;
	background-color: white;
}

.whatsapp {
	background-color: #58EDCF;
	color: #13436B;
	font-size: 20px;
	/
}

.whatsapp:hover {
	color: #FF8B6A;
	background-color: white;
}

.wallpaper_btns {
	position: absolute;
	top: 70%;
	left: 30%;
	padding: auto;
	margin-bottom: 100px;
}


.cards-wrapper {
	margin-top: -15rem;
}

.back_image {
	background-image: url(../images/banner.jpg);
	width: 100%;
	height: 500px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: right;
	opacity: 0.7;
	margin-top: 1rem;
	background-image: linear-gradient(rgba(0, 0, 0, 0.6), url(../images/banner.jpg));
	border: solid 1px transparent;
	border-radius: 50px;
	position: relative;
	right: 19rem;
	top: -1rem;
}


.row {
	/* margin-top: 9rem; */

}

.card {
	border: 1px solid green;
	border-radius: 10px;
	padding: 4px 22px;
	font-size: 1.1em;
	height: 100%;
	min-height: 212px;
}

.ama {
	margin-top: 18px;
}