<table class="table table-hover">
    <tr valign="top">
        <td width="60px">
            <a href= "{{ url_for('user', username=case.author.username) }}"  >
            </a>

            {% for case in cases %}
                <span class="badge"> {{ loop.index }} </span>
            {% endfor %}



        </td>


        <td>
            <a href="{{ url_for('user', username=case.author.username) }}">
                {{ case.timestamp.strftime('%B %d, %Y') }}
            </a>
            <br/>
            {{ case.title }}
        </td>

        <td style="padding-left:20%;">
            <a class="btn btn-primary" href="#"> Edit Case </a>
            <a class="btn btn-danger" href="#"> Delete Case </a>


        </td>
    </tr>
</table>