{% block styles %}
<style>
    #actions {
        padding-left: 20%;
    }
    .highlight {
        background-color: red;
    }

</style>
{% endblock %}
<table class="table table-hover">
    <div class="row">
        <div class="col-md-2" width="60px">
            <a href= "{{ url_for('user', username=case.author.username) }}"  >
            </a>

            {% for case in cases %}
            {% if highlighted==case.id %}
            <span class="badge"> Edited </span>
            {% endif %}
            {% endfor %}

        </div>

        <div class="col-md-4">
                {{ moment(case.timestamp).fromNow() }}

            <br/>
         <a href=" {{ url_for('show_case', case_id=case.id) }}">
                {{ case.title }}

        </a>
        </div>

        <div class="col-md-6" id="actions">
            <a class="btn btn-primary" href="{{ url_for('edit_case', id=case.id) }}">Edit Case</a>
            <a class="btn btn-danger" href="#"> Delete Case </a>

        </div>
    </div>
</table>