
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{% block title %} Mediconsult{% endblock %}</title>
</head>
<body>
	<header>
		<nav>
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/about">About</a></li>
				<li><a href="/contact">Contact</a></li>
			</ul>
		</nav>
	</header>

	<main>
		{% block content %}
		{% endblock %}
	</main>

	<footer>
		<p>&copy; 2022 Shaza Ali. All rights reserved.</p>
	</footer>

</body>
</html>
