
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{% block title %} Mediconsult{% endblock %}</title>
</head>
<body>
	<header>
		<nav>
			<ul>
				<li><a  href="{{ url_for('index')}}">Home</a></li>
				<li><a href="{{ url_for('login')}}">Login</a></li>
			</ul>
		</nav>
	</header>
</hr>

	{% with messages = get_flashed_messages() %}
	{% if messages %}
	<ul>
		{% for message in messages %}
		<li>
		{{ message }}
		</li>

		{% endfor %}
	</ul>

	{% endif %}
	{% endwith %}

	<main>
		{% block content %}
		{% endblock %}
	</main>

	<footer>
		<p>&copy; 2022 Shaza Ali. All rights reserved.</p>
	</footer>

</body>
</html>
