
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">

	<title>{% block title %} Mediconsult{% endblock %}</title>
</head>
<body>
	<header>
		<nav>
			<ul>
				<li><a  href="{{ url_for('index')}}">Home</a></li>

				{% if current_user.is_anonymous %}
				<li><a href="{{ url_for('login')}}">Login</a></li>
				{% else %}
				<li><a href="{{ url_for('user', username=current_user.username)}}">Profile</a></li>
				<li><a href="{{ url_for('explore') }}">Explore Cases</a></li>
				<li><a href="{{ url_for('logout')}}">Log Out</a></li>
				{% endif %}
			</ul>
		</nav>
	</header>
</hr>

	{% with messages = get_flashed_messages() %}
	{% if messages %}
	<ul>
		{% for message in messages %}
		<li>
		{{ message }}
		</li>

		{% endfor %}
	</ul>

	{% endif %}
	{% endwith %}

	<main>
		{% block content %}
		{% endblock %}
	</main>

	<footer>
		<p>&copy; 2022 Shaza Aly. All rights reserved.</p>
	</footer>

</body>
</html>
