{% extends "base.html" %}

{% block app_content %}

  <h1>{{ title }}</h1>

  <form action="{{ url_for('edit_case', id=case.id) }}" method="post" enctype="multipart/form-data">
    {{ form.hidden_tag() }}

    <label for="title">Title:</label>
    {{ form.title(class="form-control", placeholder="Enter title") }}
    <br>

    <label for="patient_age">Patient Age:</label>
    {{ form.patient_age(class="form-control", placeholder="Enter patient age") }}
    <br>

    <label for="patient_sex">Patient Sex:</label>
    {{ form.patient_sex(class="form-control", placeholder="Enter patient sex") }}
    <br>

    <label for="chief_complaint">Chief Complaint:</label>
    {{ form.chief_complaint(class="form-control", placeholder="Enter chief complaint", style="margin-bottom: 20px;") }}
    <br>

    <label for="medical_history">Medical History:</label>
    {{ form.medical_history(class="form-control", placeholder="Enter medical history", rows="5") }}
    <br>

    <label for="current_medications">Current Medications:</label>
    {{ form.current_medications(class="form-control", placeholder="Enter current medications") }}
    <br>

    <label for="image_files">Upload Image File:</label>
    {{ form.image_files(class="form-control-file") }}
    <br>

    <label for="lab_files">Upload Lab File:</label>
    {{ form.lab_files(class="form-control-file") }}
    <br>

    <button type="submit" class="btn btn-success">Save</button>
  </form>

{% endblock %}