{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">

{% endblock %}

{% block app_content %}

{# image wallpaper area#}
</div>
<div id="wallpaper"> </div>


<div class="wallpaper_text">
    {% if not current_user.is_authenticated %}

    <p>Elevate your well-being with knowledge</p>
    <h1>Transforming Wellness with Unity</h1>
    <h2>Your Hub for Holistic Health</h2>
    <p>Cultivate a healthier lifestyle through understanding</p>

    {% else %}
    <h1>Hi, {{ current_user.username }}!</h1>
    <h3>Do you want to add a case?</h3>
    <h3> <a class="btn call_to_action" href="{{ url_for('submit_case') }}"> Create a Case</a> </h3>
    {% endif %}
</div>




<div class="container cards-wrapper mt-5">
    <div class="row">
        <div class="col-md-4 mb-4">
            <div class="card text-white bg-success p-4">
                <div class="card-body p-4">
                    <h3 class="card-title">Join our Community</h3>
                    <h4 class="card-subtitle mb-2">Empower Medical Progression</h4>
                    <p class="card-text">Subscribe to connect with fellow professionals and share your medical cases. Together, we can make a difference.</p>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card text-white bg-info p-4">
                <div class="card-body">
                    <h3 class="card-title">Collaborate and Grow</h3>
                    <h4 class="card-subtitle mb-2">Community-driven Learning</h4>
                    <p class="card-text">Be part of a vibrant community where knowledge is shared and collaboration leads to professional growth.</p>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card text-white bg-warning p-4">
                <div class="card-body">
                    <h3 class="card-title">Inspire and Be Inspired</h3>
                    <h4 class="card-subtitle mb-2">Motivate Others</h4>
                    <p class="card-text">Share your experiences and motivate others in the medical field. Your story can inspire positive change.</p>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row">

    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                    <h3>Mediconsult Rules of Participation</h3>

                    <h4>Eligibility Criteria:</h4>
                    <ul>
                        <li><i class="fas fa-user-md"></i><span> All healthcare professionals participating in Mediconsult must possess a valid and active license to practice in their respective field.</span></li>
                        <li><i class="fas fa-certificate"></i> Professionals should have relevant qualifications and certifications in their area of expertise.</li>
                        <li><i class="fas fa-balance-scale"></i> Adherence to the highest ethical standards is mandatory for all participants.</li>
                        <li><i class="fas fa-comments"></i> Timely and responsive communication with patients is essential. Professionals should strive to provide clear and accurate information.</li>
                        <li><i class="fas fa-check-circle"></i> Mediconsult reserves the right to verify the credentials and licensing status of all participating healthcare professionals.</li>
                    </ul>

                    <!-- Add more rules as needed -->
                    <div class="ama">
                        <a href="https://code-medical-ethics.ama-assn.org/principles" class="btn btn-success">AMA Principles of Medical Ethics
                        </a>

                    </div>

                </div>
        </div>
    </div>

</div>


{% endblock %}
