{% extends "base.html" %}
{% block content %}

<h1>Hi, {{ current_user.username }}!</h1>
<p>Do you want to add a case? <a href="{{ url_for('submit_case') }}">Create a Case</a></p>

    {% for case in cases %}
    <div><p>{{ case.author.username }}  Case Title: <b>{{ case.title }}</b></p></div>
    <div><p>{{ case.chief_complaint }}</p></div>
    <div><p>{{ case.created_at }}</p></div>
    <div><p>
        <a href=" {{ url_for(show_case) }}">View Case</a>
    </p></div>

    {% endfor %}

{% endblock %}
