{% extends "base.html" %}

{% block app_content %}
    <h2>Reset Your Password</h2>
    <form action="" method="post" class="form-group">
        {{ form.hidden_tag() }}
        <p>
            {{ form.password.label(class="form-label") }}<br>
            {{ form.password(class="form-control", size=32) }}<br>
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password2.label(class="form-label") }}<br>
            {{ form.password2(class="form-control", size=32) }}<br>
            {% for error in form.password2.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit(class="btn btn-primary") }}</p>
    </form>
{% endblock %}