{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/user.css') }}">
{% endblock %}

{% block app_content %}

<div class="user-profile">
    <div class="user-avatar">
        <img src="{{ user.avatar(128) }}">
    </div>
    <div class="user-details">
        <h1>{{ user.username }}</h1>
        {% if user.bio %} <p> Bio: {{ user.bio }} </p> {% endif %}
        {% if user.medical_degree %} <p> Degree: {{ user.medical_degree }} </p> {% endif %}
        {% if user.speciality %} <p> Speciality: {{ user.speciality }}  </p>{% endif %}
        {% if user.licenses %} <p> Licenses: {{ user.licenses }}</p>  {% endif %}
        {% if user.last_seen %}
            <p >Last seen on: <span id="last_seen">{{ moment(user.last_seen).format('LLL') }}</span>

            </p>
    </p> {% endif %}
    </div>
</div>

<hr>

{% if user == current_user %}
<p><a class="edit-profile-link btn btn-primary" href="{{ url_for('edit_profile') }}">Edit your profile</a></p>

{% elif not current_user.is_following(user) %}
<p>
    <form action="{{ url_for('follow', username=user.username) }}" method="post">
        {{ form.hidden_tag() }}
        {{ form.submit(value='Follow', class="follow_button") }}
    </form>
</p>
{% else %}
<p>
    <form action="{{ url_for('unfollow', username=user.username) }}" method="post">
        {{ form.hidden_tag() }}
        {{ form.submit(value='Unfollow') }}
    </form>
</p>
{% endif %}

<h4>Cases You Shared : </h4>
{% for case in current_user.cases %}

    {% include '_case.html' %}

{% endfor %}
{% endblock %}